
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>

  <%# <% <%= f.input :query %>
  <%# <%= f.submit %>

<%# <div class="search-form-control form-group">
<%= simple_form_for :search, url: pokemons_path, method: :get do |f| %>
<%# <%= f.input :query, class: "form-control string required", label: false %>
<%# <%= f.submit "Search", class: "btn btn-flat", wrapper_html: { class: "fas fa-search" } do %>
  <%# <i class="fas fa-search"></i>
<% end %>
<%# <% end %>
<%# </div> %>
