  <%# <% <%= f.input :query %>
  <%# <%= f.submit %>

 <div class="search-form-control form-group">
    <%= simple_form_for :search, url: pokemons_path, method: :get do |f| %>
      <div class="d-flex query-selectors">
        <%= f.input :address, class: "form-control string required", label: false %>
        <%= f.input :personalities, collection: Pokemon::POKEMON_PERSONALITIES,label: false, input_html: { multiple: true, data: { controller: 'select2' }} %>
        <%= f.submit "Search", class: "btn btn-flat" %>
      </div>
    <% end %>
</div>
