<div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlwr1bikm/image/upload/v1645468248/development/background_pokemon_mifddl.png);">
  <div class="container">
    <h1>Hi <strong><%= @user.first_name %></strong></h1>
    <p>Welcome to your dashboard</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<%# Liste des demandes de locations pour mes pokemons %>
 <div class="container">
  <h2 class="text-left cards-home-title my-5">My rent <strong>Demands<strong></h2>
    <ul>
      <% @reserved_pokemons.each do |booking| %>
        <% if booking.user != current_user && booking.status == "pending" %>
          <li>Pokemon: <%= booking.pokemon.name %> | Status = <%= booking.status.capitalize %></li>
          <%= link_to 'Accept', accepted_booking_path(booking), method: :patch %>
          <%= link_to 'Refuse', denied_booking_path(booking), method: :patch %>
        <% end %>
      <% end %>
    </ul>
</div>

<%# Liste de mes demandes de locations %>
<div class="container">
  <h2 class="text-left cards-home-title my-5">My rent <strong>Requests<strong></h2>
    <ul>
      <% @bookings.where(status: "pending").each do |booking|  %>
        <li><%= booking.pokemon.name %> <%= booking.status %> <%= booking.begin_date %> <%= booking.end_date %></li>
        <%= link_to 'Cancel', cancelled_booking_path(booking), method: :patch %>
      <% end %>
    </ul>
</div>

<%# Liste de mes pokemons %>
<div class="container">
  <h2 class="text-left cards-home-title my-5">All my <strong>Pokemons<strong></h2>
  <div class="cards">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon, class: "link-no-deco" do %>
        <div class="card-product my-3">
          <%= cl_image_tag pokemon.photo.key, height: 300, width: 120 %>
          <div class="card-product-infos">
            <h2><%= pokemon.name %></h2>
            <p>Type: <strong><%= pokemon.element.capitalize%></strong></p>
            <div class="dropdown-divider my-2"></div>
            <p><i class="fa-solid fa-venus-mars"></i> <%= pokemon.gender.capitalize %></p>
            <p><strong><%= pokemon.height.round %></strong>cm | <strong><%= pokemon.weight.round %></strong>kg</p>
            <p>Personality: <strong><%= pokemon.personality.capitalize%></strong></p>
          </div>
          <div class="car-product-pricing">
            <h2>€<%= pokemon.day_price %></h2>
            <p>/per day</p>
          </div>
        </div>
      <% end %>
    <%= link_to pokemon_path(pokemon),
    method: :delete,
    data: { confirm: "Are you sure?" } do %>
      <%# <i class=“far fa-times-circle”></i> %>
      <i class="fa-solid fa-circle-xmark"></i>
      <% end %>
    <% end %>
  </div>
</div>
