<h1>New pokemon</h1>
<%= simple_form_for(@pokemon) do |f| %>
  <%= f.input :name %>
  <%= f.input :day_price %>
  <%= f.input :height %>
  <%= f.input :weight %>
  <%= f.input :gender, collection: Pokemon::POKEMON_GENDERS %>
  <%= f.input :element, collection: Pokemon::POKEMON_TYPES%>
  <%= f.input :personality, collection: Pokemon::POKEMON_PERSONALITIES %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <%= link_to 'Back', root_path %>
<% end %>
